:root {
  --main-color: #757575;
  --additional-color: #212121;
  --white-text: #ffffff;
  --white-translucent-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
  --footer-color: #2f303a;
  --color-links: #afb1b8;
}

/* body {
  color: var(--main-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */






/* 
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.section {
  padding: 94px 0px;
}

/* Header */
/* .header__container {
  display: flex;
} */

/* .header__navigation {
  display: flex;
  align-items: center; */
/* } */ 


/* .logo {
  color: var(--additional-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header__logo {
  margin-right: 93px;
}

.logo__first-part-logo {
  color: var(--focus-color);
} */

/* Menu */
/* .menu {
  position: relative;

  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
} */

/* .menu__item--link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--additional-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .menu__item--active {
  color: var(--focus-color);
}

.menu__item--link:hover,
.menu__item--link:focus {
  color: var(--focus-color);
} */

/* .menu__item--active::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  height: 5px;
  width: 100%;
  border-radius: 2px;
} */

/* Header contacts */
/* .header__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
} */

/* .header__contacts--link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header__contacts--link:hover,
.header__contacts--link:focus {
  color: var(--focus-color);
} */

/* .logo__mail,
.logo__phone {
  fill: currentColor;
  margin-right: 10px;
} */

/* Hero */
/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__modal--open {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;

  color: var(--white-text);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* Features */

.features__title {
  margin-top: 0;
  margin-bottom: 10;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__list--item {
  width: 270px;
}

.features__description {
  margin: 0;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/* Services */

.section--zero-top-padding {
  padding-top: 0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.services__list--item {
  position: relative;
}

.services__list--image {
  display: block;
}

.services__title {
  position: absolute;
  bottom: 0px;

  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Command */

.section--dark-background {
  background-color: #f5f4fa;
}

.command__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.command__list--image {
  display: block;
  margin-bottom: 30px;
}

.command__name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--additional-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

.command__description {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command__list--item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;

  background-color: var(--white-text);
}

.social-networks__list {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.social-networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-links);
  /* Хз как сделать по другому. свг центрируется в кнопке, хз как сделать в ссылке */
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__links {
  fill: currentColor;
}

.social-networks__link:hover,
.social-networks__link:focus {
  color: var(--white-text);
  background-color: var(--focus-color);
}

/* Partners */

.partners {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.partner__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-links);
  border-radius: 4px;
  color: var(--color-links);
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__link:hover,
.partner__link:focus {
  color: var(--focus-color);
  border-color: var(--focus-color);
}

.partner__logo {
  fill: currentColor;
}

/* Portfolio */
/* Filter */
.filter__list {
  display: flex;

  justify-content: center;
  margin-bottom: 50px;
}

.filter__list--item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  min-width: 29px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--additional-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: var(--white-text);
  background: var(--focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Example */

.portfolio__item--thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item--image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text);
  display: block;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio__item--title {
  text-align: center;
  margin: 0 0;
} */

.portfolio__item--title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--additional-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__item--description {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 0px;
}

.portfolio__item:hover .overlay {
  transform: translateY(0%);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item--sign {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}

.footer__container {
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;
  gap: 70px;
}

.footer__logo {
  display: inline-block;
  color: var(--white-text);
  margin-bottom: 20px;
}

.footer__adress {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--white-text);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__mail,
.footer__telephone {
  display: inline-block;
  color: var(--white-translucent-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover,
.footer__telephone:hover,
.footer__mail:focus,
.footer__telephone:focus {
  color: var(--focus-color);
}

.footer__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-text);
}

.social-networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__form--input {
  width: 358px;
  height: 50px;
  align-self: flex-start;

  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-text);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-color);
}

.footer__form--input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form--service-class {
  display: flex;
  direction: row;
}

.footer__form--button-sercises {
  position: relative;
}

.footer__form--button {
  background-color: var(--focus-color);
  width: 200px;
  height: 50px;
  align-self: flex-end;

  padding-left: 29px;
  padding-right: 62px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

.footer__form--icon {
  position: absolute;
  right: 28px;
  top: 13px;

  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../image/iconSend.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__.modal--is-hidden {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--white-text);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000;

  padding: 0;

  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover {
  fill: var(--focus-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 448px;
  margin: 40px 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--additional-color);
}

.form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__item {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form__item:focus-within > .form__input {
  border-color: var(--focus-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__item:focus-within > .form__icon {
  fill: var(--focus-color);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.comment {
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:focus-within {
  border-color: var(--focus-color);
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox--icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  margin-right: 8px;

  background-image: url('../image/Checkbox.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.form__checkbox:checked + .form__checkbox--icon {
  background-image: url('../image/checkboxChecked.svg');
}

.form__checkbox--label {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
}

.form__chekbox-conditions {
  color: var(--focus-color);
}

.form__modal--button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  display: inline-block;
  width: 200px;
  border-radius: 4px;
  border: 0px;
  padding: 10px 32px;

  color: var(--white-text);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__modal--button:hover,
.form__modal--button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
