.features {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__list--item {
    width: 270px;
  }
}

.features__item {
  &--thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &--title {
    margin-top: 0;
    margin-bottom: 10;

    color: $additional-font-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &--description {
    margin: 0;
  }
}

/* Services */
.section--zero-top-padding {
  padding-top: 0;
}

.services__title {
  position: absolute;
  bottom: 0px;

  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-font-color;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &--item {
    position: relative;
  }

  &--image {
    display: block;
  }
}

/* Command */

.section--dark-background {
  background-color: #f5f4fa;
}

.command__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &--image {
    display: block;
    margin-bottom: 30px;
  }

  &--item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
    background-color: $white-font-color;
  }
}

.command {
  &__name {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $additional-font-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__description {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.social-networks {
  &__list {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
  }

  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $color-links;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $white-font-color;
    background-color: $focus-color;
  }
}

.logo__links {
  fill: currentColor;
}

.partner {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;

  &__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid $color-links;
    border-radius: 4px;
    color: $color-links;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: $focus-color;
    border-color: $focus-color;
  }

  &__logo {
    fill: currentColor;
  }
}
