
.features{

    &__title {
        margin-top: 0;
        margin-bottom: 10;

        color: $additional-font-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__list--item {
        width: 270px;
    }

    &__description{
        margin: 0;
    }

    &__thumb{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;

    }

}

/* Services */
.section--zero-top-padding{
    padding-top:0;
}

.services__title{
    position: absolute;
    bottom: 0px;

    width: 100%;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-font-color;
    background-color: rgba(47, 48, 58, 0.8);
}

.services__list{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &--item{
        position: relative;
    }

    &--image{
        display: block;
    }
}

    /* Command */

.section--dark-background{
    background-color: #f5f4fa;
}







